<div class="container mt-4">
  <h2>{{ isEdit ? 'Editar Categoria' : 'Nova Categoria' }}</h2>

  <div *ngIf="loading && isEdit">Carregando dados da categoria...</div>

  <div
    *ngIf="error"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    {{ error }}
    <button
      type="button"
      class="btn-close"
      (click)="closeError()"
      aria-label="Close"
    ></button>
  </div>

  <form (ngSubmit)="save()">

    <div class="mb-3">
      <label class="form-label">Nome:</label>
      <input type="text" class="form-control" [(ngModel)]="category.nome" name="nome" required [disabled]="loading">
    </div>

    <div class="mb-3">
      <label class="form-label">Descrição:</label>
      <textarea class="form-control" rows="3" [(ngModel)]="category.descricao" name="descricao" required [disabled]="loading"></textarea>
    </div>

    <button class="btn btn-success me-2" type="submit" [disabled]="loading">
      {{ loading ? 'Salvando...' : 'Salvar' }}
    </button>
    <button class="btn btn-secondary" routerLink="/category" [disabled]="loading">Voltar</button>
  </form>
</div>
